@use '../base/variables' as v;
@use '../base/mixins' as m;


// --------------- HOME
.overflow{
height: 100vh;
}
.gallery{
    &__container{   
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__selectedImg{
        display: grid;
        grid-template-columns: 20rem 30rem;
        justify-items: left;
        column-gap: 8rem;
        height: max-content;
        margin-top: 13rem;
        position: fixed;
        margin-right: 20rem;
    }

    &__description{
        display: flex;
        flex-direction: column;
       justify-content: flex-end;
       font-size: 1.5em;
    }

    &__name{
        font-weight: 600;
    }


    &__albumImg{
        height: 12rem;
        width: 10rem;
        object-fit: cover;
        overflow: hidden;
        margin-bottom: 0.5rem;
        filter: grayscale(1);
        transition: 0.3s all cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    &__jpg{
        transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
        pointer-events: none;
        object-fit: cover;
    }

 

    &__albumImg:hover &__jpg{
        transform: scale(1.3);
    }

    
    &__img{
        width: 28rem;
        height: 40rem;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }


          &__img img {
            width: 100%;
            height: 100%;
              object-fit: cover;
          } 
    &__album{
        margin-left: 60%;
    }

     .visible{
      filter: grayscale(0);
     }
}



//MEDIAS QUERIES 

@include m.desktop {}

@include m.tablet {}

@include m.movil {}









