//color palette
$principal : #272727;
$secundary : #7b838d95;
$hover : #bdc9d64e;
$background : #F5F5F5;
$interaction: #E9F58D;



//typography
$font-principal: 'Outfit', sans-serif;
$font-secundary: 'Space Grotesk', sans-serif;

//medias queries
$movil: 480px;
$tablet: 900px;
$desktop: 1600px;
//$desktopXL: 1800px;





